<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ include file="VariableTempalte.ttinclude"#>
<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>

<#
 string[] classNames	= {"ActorRef",	"Bool",		"Int",		"Float",	"FRotator",					"FVector",				"String",	"FVector2D"};
 string[] classTypes	= {"AActor*",	"bool",		"int32",	"float",	"FRotator",					"FVector",				"FString",	"FVector2D"};
 string[] classDefaults = {"nullptr",	"false",	"0",		"0.0f",		"FRotator::ZeroRotator",	"FVector::ZeroVector",	"\"\"",		"FVector2D::ZeroVector"};
#>
<#
for (Int32 i = 0; i < classNames.Length; ++i) {
#>
<#
  // End of file.
  SaveGlobalHOutput(classNames[i], classTypes[i], classDefaults[i]);
  SaveGlobalCPPOutput(classNames[i], classTypes[i], classDefaults[i]);
}
#>
<#+
private void SaveGlobalHOutput(string className, string classType, string classDefault) 
{
	GenerateHFile(className, classType, classDefault);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "Generated/Global" + className + "Variable.h");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void SaveGlobalCPPOutput(string className, string classType, string classDefault) 
{
	GenerateCPPFile(className, classType, classDefault);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "Generated/Global" + className + "Variable.cpp");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}
#>