<#@ template debug="false" hostspecific="true" language="C#" #>

<#@ include file="GlobalCPPTemplate.ttinclude"#>
<#@ include file="GlobalHTemplate.ttinclude"#>
<#@ include file="LibraryTemplate.ttinclude"#>
<#@ include file="LocalCPPTemplate.ttinclude"#>
<#@ include file="LocalHTemplate.ttinclude"#>
<#@ include file="NodeHelpersTemplate.ttinclude"#>

<#@ assembly name="System.Core" #>
<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Collections.Generic" #>

<#
 string[] classNames	    = {"ActorRef",	                "Bool",		"Int",		"Float",	"FRotator",					        "FVector",				            "String",	"FVector2D"};
 string[] classTypes	    = {"AActor*",	                "bool",		"int32",	"float",	"FRotator",					        "FVector",				            "FString",	"FVector2D"};
 string[] classDefaults     = {"nullptr",	                "false",	"0",		"0.0f",		"FRotator::ZeroRotator",	        "FVector::ZeroVector",	            "\"\"",		"FVector2D::ZeroVector"};
 string[] classNodeTypes    = {"Object",                    "Boolean",  "Int",      "Float",    "Struct",                           "Struct",                           "String",   "Struct"};
 string[] classNodeSubType  = {"AActor::StaticClass()",     "",         "",         "",         "TBaseStructure<FRotator>::Get()",  "TBaseStructure<FVector>::Get()",   "",         "TBaseStructure<FVector2D>::Get()"};
 string[] toStringFunction  = {"value->GetName()", "UKismetStringLibrary::Conv_BoolToString(value)", "UKismetStringLibrary::Conv_IntToString(value)", "UKismetStringLibrary::Conv_FloatToString(value)",
 "UKismetStringLibrary::Conv_RotatorToString(value)", "UKismetStringLibrary::Conv_VectorToString(value)", "value", "UKismetStringLibrary::Conv_Vector2dToString(value)" };

for (Int32 i = 0; i < classNames.Length; ++i) 
{
  // End of file.
  SaveGlobalHOutput(classNames[i], classTypes[i], classDefaults[i]);
  SaveGlobalCPPOutput(classNames[i], classTypes[i], classDefaults[i], toStringFunction[i]);
  SaveLocalHOutput(classNames[i], classTypes[i], classDefaults[i]);
  SaveLocalCPPOutput(classNames[i], classTypes[i], classDefaults[i]);
}

CreateK2PinTypeFromVariable(classNames, classNodeTypes, classNodeSubType);
CreateK2CreateSpecificNodeGet(classNames, classNodeTypes, classNodeSubType);
CreateK2CreateSpecificNodeSet(classNames, classNodeTypes, classNodeSubType);
CreateK2IncludeAll(classNames, classNodeTypes, classNodeSubType);

CreateBlueprintLibraryH(classNames, classTypes);
CreateBlueprintLibraryCPP(classNames, classTypes);

#>

<#+
private void SaveGlobalHOutput(string className, string classType, string classDefault) 
{
	GenerateGlobalHFile(className, classType, classDefault);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "../Generated/Global/Global" + className + "Variable.h");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void SaveGlobalCPPOutput(string className, string classType, string classDefault, string toStringFunction) 
{
	GenerateGlobalCPPFile(className, classType, classDefault, toStringFunction);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "../Generated/Global/Global" + className + "Variable.cpp");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void SaveLocalHOutput(string className, string classType, string classDefault) 
{
	GenerateLocalHFile(className, classType, classDefault);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "../Generated/Local/Local" + className + "Variable.h");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void SaveLocalCPPOutput(string className, string classType, string classDefault) 
{
	GenerateLocalCPPFile(className, classType, classDefault);
	string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
	string outputFilePath = Path.Combine(templateDirectory, "../Generated/Local/Local" + className + "Variable.cpp");
	File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString()); 
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateK2PinTypeFromVariable(string[] classes, string[] types, string[] subTypes)
{
    GeneratePinTypeFromVariable(classes, types, subTypes);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Node/PinTypeFromVariable.h");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateK2CreateSpecificNodeGet(string[] classes, string[] types, string[] subTypes)
{
    GenerateCreateSpecificNodeGet(classes, types, subTypes);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Node/CreateSpecificNodeGet.h");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateK2CreateSpecificNodeSet(string[] classes, string[] types, string[] subTypes)
{
    GenerateCreateSpecificNodeSet(classes, types, subTypes);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Node/CreateSpecificNodeSet.h");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateK2IncludeAll(string[] classes, string[] types, string[] subTypes)
{
    GenerateIncludeAll(classes, types, subTypes);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Library/IncludeAll.h");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateBlueprintLibraryH(string[] classes, string[] types)
{
    GenerateBlueprintLibraryH(classes, types);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Library/GlobalVariablesBPLibrary.h");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}

private void CreateBlueprintLibraryCPP(string[] classes, string[] types)
{
    GenerateBlueprintLibraryCPP(classes, types);
    string templateDirectory = Path.GetDirectoryName(Host.TemplateFile);
    string outputFilePath = Path.Combine(templateDirectory, "../Generated/Library/GlobalVariablesBPLibrary.cpp");
    File.WriteAllText(outputFilePath, this.GenerationEnvironment.ToString());
    this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
}
#>